/* Reset some basic styling */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
body {
  font-family: 'Arial', sans-serif;
  background-color: #0f0f1a; /* dark background */
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  min-height: 100vh;
  background-color: #0f0f1a;
  background-size: cover;
  background-position: center;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-text h2 {
  color: #ff4c60;
  font-size: 24px;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: #ff4c60;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #ff6e80;
}

.hero-image img {
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
  
.hidden-text {
  display: none;
  position:absolute;
  top: 650px;
  left:150px;
} 
  