@media (max-width: 450px) {
.hero-text h1 {
    font-size: 20px;
    }

  .hero-text h2 {
  font-size: 14px;
  }

  .hero{
      margin-top: 70px;
      flex-direction: column;
      align-items: normal;
      justify-content: normal;
      min-height: auto;
      padding: 5%;
  }

  .hero-text p {
  font-size: 14px;
  }


  .hero-image img {
      width: 150px;
      max-width: 60%;
  }

  .info-btns {
  font-size: 14px;
  padding: 8px 20px;
  }

  .project-btn {
  top: 600px;
  left: 35px;
  }

  .education-btn {
  top: 600px;
  left: 145px;
  }

  .hidden-tekst-possition{
  top: 630px;
  left: 35px;
  }

  .career-btn {
  top: 600px;
  left: 246px;
  }

  body{
      font-size: 14px;
  }

  h2{
      font-size: 16px;
  }

  .pdf-preview img {
      width: 40%; /* Adjust the width as needed */
  }

  .details{
      max-width: 90%;
  }

  .social-links img {
  width: 20px;
  height: 20px;
  }


}
