/* Reset some basic styling */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
body {
  font-family: 'Arial', sans-serif;
  background-color: #0f0f1a; /* dark background */
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  min-height: 100vh;
  background-color: #0f0f1a;
  background-size: cover;
  background-position: center;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-text h2 {
  color: #ff4c60;
  font-size: 24px;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.info-btns {
  border: none;
  color: white; /* Adjust for visibility */
  font-size: 18px;
  padding: 10px 30px;
  transition: background-color 0.3s ease-in-out;
}

.project-btn {
  position: absolute;
  background: #3f3f6d;
  top: 600px;
  left: 150px;
}

.project-btn:hover {
  background-color: #3f3f6d;
}

.hero-image img {
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
  
.proj-hidden-text {
  display: block;
  position:absolute;
}

.hidden-tekst-possition{
  top: 650px;
  left:150px;
}
  
.active {
  background-color: #0f0f1a; /* Highlighted color */
}

.education-btn {
  position: absolute;
  background: #0f0f1a;
  top: 600px;
  left: 302px;
}

.education-btn:hover {
  background-color: #3f3f6d;
}

.edu-hidden-text{
  display: none;
  position:absolute;
}

.career-btn {
  position: absolute;
  background: #0f0f1a;
  top: 600px;
  left: 442px;
}

.career-btn:hover {
  background-color: #3f3f6d;
}

.career-hidden-text{
  display: none;
  position:absolute;
}

.active2 {
  background-color: #3f3f6d; /* Highlighted color */
}

/* styles.css */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

.section {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

.date {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.details {
  margin-left: 20px;
}


.pdf-preview img {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
  